@import "../fonts/pantonblack_caps/stylesheet.css" screen;
@import "../fonts/pantonlight_caps/stylesheet.css" screen;

@base_width: 956px;
@base_green: #14c1c0;
@base_yellow: #ffc600;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.base__wrap {
  display: block;
  width: @base_width;
  position: relative;
  margin: auto;
  height: 100%;
}

header {
  float: left;
  height: 80px;
  width: 100%;
  display: block;
  margin: auto;
  background: @base_yellow;
  nav {
    width: 490px;
    float: left;
    height: 32px;
    display: block;
    margin-left: 33px;
    margin-top: 13px;

    a {
      font-family: 'Helvetica Neue', Helvetica, Arial;
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      line-height: 240%;
    }

    ul {
      width: 100%;
      display: block;
      list-style: none;
      height: 100%;
      padding: 0;
      margin: 0;

      li {

        height: 100%;
        display: block;
        float: left;
        padding: 0;
        margin: 0 14px;

        &:hover {
          background: #fff;
          a {
            color: @base_green;
          }
        }

        ul {
          display: none;
        }
      }
    }

  }

  .logo {
    float: left;
    display: block;
  }

}

.header__panel {
  display: block;
  float: right;
  width: 198px;
  height: 100%;
  padding-top: 12px;
  box-sizing: border-box;
  .phone {
    font-family: 'pantonblack_caps';
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .feeed-back-link {
    color: @base_green;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    text-decoration: none;
    border-bottom: 1px dotted @base_green;

    &:hover {
      border-bottom: 1px solid @base_green;
    }

  }

}

footer {
  height: 80px;
  float: left;
  width: 100%;
  background: #736b6b;
}

section {
  position: relative;
  width: 100%;
  float: left;
}


.section-title {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-family: 'pantonlight_caps';
  width: 100%;
  text-align: center;
  &:first-child {
    margin-top: 72px;
  }
  &.bold,
  strong {
    font-family: 'pantonblack_caps';
  }
  &.min{
    font-size: 23px;
  }
}

body.front {
  section.screen-1 {
    height: 590px;
    background: @base_yellow;


    .send-action__link {
      font-size: 23px;
      font-family: 'pantonblack_caps';
      display: block;
      width: 300px;
      height: 84px;
      text-align: center;
      margin: auto;
      background: @base_green;
      text-decoration: none;
      color: #fff;
      line-height: 84px;
      border-radius: 84px;
      margin-top: 28px;

      &:hover {
        background: #fff;
        color: @base_green;
        text-decoration: none;
      }
    }
    .block__img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 267px;

      img {
        display: block;
        margin: auto;
      }
    }
  }

  section.screen-2 {
    background: #fff;
    height: 674px;

    .snippet__wrap {
      height: 530px;
      width: 800px;
      margin: auto;
      padding: 84px 0 0 0;

      .snippet__items {
        height: 100%;
        width: 340px;
        display: block;
        float: left;
        text-align: center;
      }

      .snippet__items-2 {
        float: right;
      }

      .snippet__img {
        margin-bottom: 23px;
      }

      .snippet__title {
        font-size: 23px;
        font-family: 'pantonblack_caps';
        width: 100%;
        text-align: center;
        display: inline-block;
      }

      .snippet__title-1 {
        color: @base_green;
        padding-bottom: 13px;
      }

      .snippet__title-2 {
        color: @base_yellow;
      }

      .snippet__long-text {
        text-align: center;
        font-size: 13px;
        color: @base_green;
        display: block;
        width: 100%;
        line-height: 150%;
        float: left;
        min-height: 90px;
      }

      .snippet__result {
        font-size: 13px;
        text-align: center;
        color: @base_yellow;
        padding-bottom: 20px;
      }

      .snippet__more-link {
        width: 106px;
        height: 32px;
        display: block;
        line-height: 32px;
        font-family: 'Helvetica Neue', Helvetica, Arial;
        color: #fff;
        background: @base_yellow;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        margin: 13px auto auto;
        border-radius: 32px;
        &:hover {
          background: @base_green;
          color: #fff;
        }
      }

      .snippet__paginator {
        width: 100%;
        display: inline-block;
        a {
          background: #ddd;
          border-radius: 50%;
          display: inline-block;
          font-size: 0;
          height: 5px;
          width: 5px;
          &.selected {
            background: #aaa;
          }
        }
      }

    }

    .decoratin__bottom {
      background: url("../images/css/bottom-border.png");
      width: 100%;
      height: 13px;
      position: absolute;
      bottom: -13px;
      display: block;
      z-index: 10;
    }

  }

}

section.screen-3 {
  background: @base_green;
  height: 618px;

  .base__wrap{
    padding: 82px 0 ;
  }



  .block__ruby-img{
    display: block;
    float: left;
    height: 100%;
  }

  .block_text{
    width: 380px;
    display: block;
    float: left;
    .booble__text{
      color: #76f5f4;
    }
    p{
      color: #fff;
    }
  }

}

section.screen-4 {
  background: #fff;
  height: 566px;
  .section-title{
    color: @base_green;
  }
}

section.screen-5 {
  height: 585px;
  background: @base_green;

}
